{% extends 'roster/main.html' %}

{% block content %}

<style>
  body,
		html {
		  background: #7abecc !important;
		  }
</style>

<div>

  <h1 style="text-align:center">
      <p>Kalkulator punktów</p>
  </h1>
        <h2 style="text-align:center">
    <p>Witaj na stronie do obliczania punktów dla przykładowych armi Orków i Elfów</p>
    <p>Aby móc z niej skorzystać zaloguj się.</p>
        </h2>
</div>



  <div class="column">
    <div class="card">
      <div class="container">
        <h2 style="text-align:center">O twórcy</h2>
        <h2>Cześć jestem Arkadiusz </h2>
        <p>Jest to moj pierwszy projekt aplikacji zrobionej w Django</p>
        <p>Projekt zrobiony na zaliczenie kursu w CodersLab</p>
        <p>arkadiusz.pylypko@gmail.com</p>
      </div>
    </div>
  </div>
</div>


{% endblock %}
